header{
    background-color: white;
    color: black;
    height: 50px;
    padding: 20px;
}

footer{
    background-color: white;
    color: black;
    height: 20px;
    padding: 20px;
}

body{
    background-image: url(../Images/background.jpeg);
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: 100%;
}


nav {
    background-color: gray;
    height: 50px;
    padding: 30px;
    border: 2px solid black;
}

nav ul li {
    list-style-type: name;
    background-color: white;
    display: inline; 
    padding: 10px; 
    margin: 10px;
    border: 2px solid black;
    border-radius: 10px;
}

nav ul{
    text-align: center;
    font-size: 1;
    padding: 8px;
}

#main{
    text-align: center;
    background-color:tan;
    font-family:Calibri;
    padding: 10px;
}

#main2{
    background-color:tan;
    font-family:Calibri;
    padding: 10px;
}


aside{
    width: 30%;
    background-color: white;
    float: right;
}

#recipetext{
float: left;
}

#recipeimage{
float: left;
max-width: 350px;
}

.container{
    margin: 100px auto;
    width: 75%;
}